*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#b9c6ff;
}

 /* ---------------- HEADER ---------------- */

header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 75px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    z-index:1000;

}
 
/* codigo de la franja blanca de arriba*/

header{
    background:white;
    height:75px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.menu i{
    font-size:28px;
    color:#555;
    cursor:pointer; /* Cambia el cursor al pasar encima */
}

.estilo_menu { 

    position: relative;
    left: -550px;
}

.logo {
    width: 10px;
    margin-left: 50px;
}

.usuario i{
    font-size:32px;
    color:#777;
}

.titulo{
    display:flex;  /* Coloca logo y texto uno al lado del otro */
    align-items:center;
<<<<<<< HEAD

}

.titulo img{
    width:50px;
=======
    gap:10px;   /* Espacio entre logo y texto */
}

.titulo img{
    width:45px;   /* Tamaño del logo */
>>>>>>> 2f14e604c337d843c72dd8fb56b9df24abf99a86
}

.titulo h2{
    font-size:22px;  /* Tamaño del título */
    color:#444;
}

.titulo p{
    color:gray;  /* Tamaño del subtítulo */
    font-size:12px;
}

/* --------------- TARJETAS --------------- */

.contenedor{

    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:150px;
    flex-wrap:wrap;

}

.card{

    position:relative;

    width:170px;
    height:250px;

    border-radius:25px;

    overflow:hidden;

    text-decoration:none;

    display:flex;
    justify-content:center;
    align-items:center;

    border:2px solid rgba(255,255,255,.6);

    transition:.3s;

}

.card:hover{

    transform:scale(1.05);

    box-shadow:0 8px 20px rgba(0,0,0,.3);

}

.card h3{

    position:relative;

    color:white;

    z-index:2;

    font-size:22px;

    text-shadow:2px 2px 8px black;

}

/* Capa transparente */

.fondo{

    position:absolute;

    width:100%;
    height:100%;

    background:rgba(110,120,255,.45);

}

/* Imágenes */

.traslado{

    background:url(img/traslado.jpg);

    background-size:cover;
    background-position:center;

}

.atencion{

    background:url("img/atencion.jpg");

    background-size:cover;
    background-position:center;

}

.faq{

    background:url("img/faq.jpg");

    background-size:cover;
    background-position:center;

}

/* Responsive */

@media(max-width:700px){

.titulo h2{
    font-size:18px;
}

.titulo p{
    display:none;
}

.card{

    width:90%;
    max-width:300px;

    height:180px;
}

           
    }

/*de aca para abajo esta todo lo del login / register */
 #register-block {
   max-width: 300px;
   margin: 20px auto;
   padding: 20px;
   background-color: white;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   display: flex;
    flex-direction: column;

}                                                                        


.submit {
   background-color: #4285f4;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   font-size: 17px;
   margin-bottom: auto;
   display: flex;
   flex-direction: column;
   width: 100px;
   margin: 0 auto;
   align-content: center;
   margin-top: 10px;
   text-decoration: none;

}

.submit:hover {
   color: #3c4043;
}


.username_field, .password_field {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid #3c4043;
   border-radius: 15px;
   
}

.txtup{
   text-align: center;
   padding: 10px;
   background-color: #f1f3f4;
   border-radius: 15px;
   color: #3c4043;
}

.success {
   color: green;
   margin-top: 10px;
   text-align: center;
}

.error {
   color: red;
   margin-top: 10px;
}

.text {
   font-style: arial;
   color: #4285F4;

}

.log {
   font-size: 15px;
   color: #4285F4;
   cursor: pointer;
   display: flex;
   justify-content: center;
} 

.traducir-login-register {
   background-color: #4285f4;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   font-size: 17px;
   margin-bottom: auto;
   display: flex;
   flex-direction: column;
   width: 100px;
   margin: 0 auto;
   align-content: center;
   margin-top: 10px;
   text-decoration: none;
   align-items: center;
   
}            