body{
    background:#b9c6ff;
}

.contenedor{

    display:flex;
    justify-content:center;
    gap:25px;

    margin-top:40px;
    flex-wrap:wrap;

}

.card{

    position:relative;

    width:170px;
    height:250px;

    border-radius:25px;

    overflow:hidden;

    text-decoration:none;

    display:flex;
    justify-content:center;
    align-items:center;

    border:2px solid rgba(255,255,255,.6);

    transition:.3s;

}

.card:hover{

    transform:scale(1.05);

    box-shadow:0 8px 20px rgba(0,0,0,.3);

}

.card h3{

    position:relative;

    color:white;

    z-index:2;

    font-size:22px;

    text-shadow:2px 2px 8px black;

}

/* Capa transparente */

.fondo{

    position:absolute;

    width:100%;
    height:100%;

    background:rgba(110,120,255,.45);

}

/* Imágenes */

.traslado{

    background:url("img/traslado.jpg");

    background-size:cover;
    background-position:center;

}

.atencion{

    background:url("img/atencion.jpg");

    background-size:cover;
    background-position:center;

}

.faq{

    background:url("img/faq.jpg");

    background-size:cover;
    background-position:center;

}

/* Responsive */

@media(max-width:700px){

.titulo h2{
    font-size:18px;
}

.titulo p{
    display:none;
}

.card{

    width:90%;
    max-width:300px;

    height:180px;

}

}



