body{
    background-color: #f2f2f2;
}


.flex_1 {
    display:flex;
    justify-content: left;
    padding:20px;
    width: 300px;
    height: 200px;
    background-color: #f8c8dc;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 4px 10px gray;
    

}

.container_2 {
    
    display:flex;
    justify-content: center;
    padding:20px;
    margin-top: -48px;
    width: 300px;
    height: 200px;
    background-color: #f8c8dc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 10px gray;


}

.div_3 {
    display:flex;
    justify-content: right;
    padding:20px;
    margin-top:-65px;
    width: 300px;
    height: 200px;
    background-color: #f8c8dc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 10px gray;


}




